<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.musclegrow.mapper.SetmealSupplementMapper">
    <insert id="insertBatch">
        insert into setmeal_supplement (setmeal_id, supplement_id,name, price,copies) values
        <foreach collection="list" item="item" separator=",">
            (#{item.setmealId},#{item.supplementId},#{item.name},#{item.price},#{item.copies})
        </foreach>
    </insert>


    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_supplement
        where supplement_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
